# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
backend/node_modules/

# Optional npm cache directory
.npm

# Output directory for production builds
dist/
dist-ssr/
*.local

# Environment variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
